@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <a href="FuncContr/result">UsingModelCalc</a><br />
        <a href="FuncContr/ViewDataResult">ViewDataCalc</a> <br />
        <a href="FuncContr/ViewBagResult">ViewBagCalc</a> <br />
        <a href="FuncContr/Injection">AccessServiceDirectly</a> <br />
    </div>
